<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">
            #
        </th>
        <th scope="col">
            Product Name
        </th>
        <th scope="col">
            Price
        </th>
        <th scope="col" colspan="2">Options</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <!--<td>
                15
            </td>
            <td>
                hello
            </td>
            <td>
                153.6
            </td>
            <td>
            Del    
            </td>
            <td>
                Edi
            </td>-->
        </tr>
    </tbody>
  </table>